---
import SectionHeading from "../ui/SectionHeading.astro";

const { focusAreas } = Astro.props;
---

<section aria-labelledby="focus-heading" class="mt-10">
  <SectionHeading title="Currently Focusing On" level="h1" />

  <div class="space-y-10">
    {
      focusAreas.map((area: { title: string; items: string[] }) => (
        <section>
          <SectionHeading title={area.title} level="h3" />

          <ul class="space-y-3">
            {area.items.map((item: string) => (
              <li class="flex items-start">
                <span class="inline-block w-5 h-5 mt-0.5 mr-3 flex-shrink-0 text-primary">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M5 13l4 4L19 7"
                    />
                  </svg>
                </span>
                <span>{item}</span>
              </li>
            ))}
          </ul>
        </section>
      ))
    }
  </div>
</section>
