---
import ProfilePicture from "../ui/ProfilePicture.astro";
import SpotifyNowPlaying from "../spotify/SpotifyNowPlaying.tsx";
import NowStats from "./NowStats.astro";

const { intro, mood } = Astro.props;
---

<div class="flex items-center space-x-6 mb-8">
  <ProfilePicture size={96} />
  <div>
    <p class="text-lg text-gray-600 dark:text-gray-300">{intro}</p>
    <NowStats />
    <p class="text-sm text-gray-500 dark:text-gray-400 mt-1">Mood: {mood}</p>
    <SpotifyNowPlaying client:visible />
  </div>
</div>
