---
import ProfilePicture from "../ui/ProfilePicture.astro";
import SpotifyNowPlaying from "../spotify/SpotifyNowPlaying.tsx";
import NowStats from "./NowStats.astro";

const { intro, mood } = Astro.props;
---

<div class="relative p-6 mb-8 rounded-lg shadow-xl overflow-hidden card-background-gradient">
  <div class="flex flex-col items-center text-center mb-6">
    <ProfilePicture size={128} class="mb-4" />
    <p class="text-xl font-semibold text-gray-100">{intro}</p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
    <div class="flex flex-col items-center">
      <NowStats />
    </div>
    <div class="flex flex-col items-center">
      <p class="text-md text-gray-300">Mood: {mood}</p>
    </div>
  </div>

  <div class="flex justify-center">
    <SpotifyNowPlaying client:visible />
  </div>
</div>
