---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import NowProfileBox from "../components/now/NowProfileBox.astro";
import FocusAreas from "../components/now/FocusAreas.astro";
import NowFooter from "../components/now/NowFooter.astro";
import SpotifyTopArtists from "../components/spotify/SpotifyTopArtists.tsx";
import GithubActivity from "../components/github/GithubActivity.astro";

const nowEntries = await getCollection("now");
const latestEntry = nowEntries.sort(
  (a, b) =>
    new Date(b.data.lastUpdated).valueOf() -
    new Date(a.data.lastUpdated).valueOf()
)[0];

const { title, lastUpdated, intro, mood, focusAreas } = latestEntry.data;
---

<Layout
  pageTitle={title}
  description="What I'm currently focused on and working with"
>
  <div class="max-w-3xl mx-auto">
    <NowProfileBox {intro} {mood} />
    <FocusAreas {focusAreas} />
    <SpotifyTopArtists client:visible />
    <GithubActivity />
    <NowFooter />
  </div>
</Layout>
