---
import Layout from "../layouts/Layout.astro";
import ProjectsSection from "../components/sections/ProjectsSection.astro";
import PageHeader from "../components/ui/PageHeader.astro";

const pageTitle = "Works";
---

<Layout pageTitle={pageTitle}>
  <div class="max-w-3xl mx-auto">
    <PageHeader
      title="Works"
      subtitle="A selection of projects. Each project represents a unique challenge and learning experience."
    />

    <ProjectsSection />
  </div>
</Layout>
