<section id="links">
  <a class="button" href="/">Home</a>
  <a class="button" href="/works">Works</a>
  <a class="button" href="/blog">Blog</a>
  <a class="button" href="/contact">Contact</a>
</section>
