---
import BlogPost from "./BlogPost.astro";

const allPosts = Object.values(
  import.meta.glob("../pages/posts/*.md", { eager: true })
);
---

<h2>Posts</h2>

<ul>
  {
    allPosts.map((post: any) => (
      <BlogPost url={post.url} title={post.frontmatter.title} />
    ))
  }
</ul>
