---
// SkillsSection.astro
---

<section class="py-8">
  <h2 class="text-2xl font-bold mb-6 inline-flex items-center space-x-2">
    <span>Bio</span>
    <div class="h-1 w-16 bg-purple-600 rounded ml-2"></div>
  </h2>

  <div class="space-y-4">
    <div class="flex">
      <span class="font-bold w-24 flex-shrink-0">1995</span>
      <span>Born in Tucumán, Argentina.</span>
    </div>

    <div class="flex">
      <span class="font-bold w-24 flex-shrink-0">2019-2021</span>
      <span
        >Studied Software Development at Universidad Tecnológica Nacional (UTN).</span
      >
    </div>

    <div class="flex">
      <span class="font-bold w-24 flex-shrink-0">2017-2019</span>
      <span>Worked in technical support at Teleperformance.</span>
    </div>

    <div class="flex">
      <span class="font-bold w-24 flex-shrink-0">2019-2023</span>
      <span>Technical Support Team Lead at MoGi Group.</span>
    </div>

    <div class="flex">
      <span class="font-bold w-24 flex-shrink-0">2023-Present</span>
      <span
        >Service Operations Support Engineer at Gaming Innovation Group (GiG).</span
      >
    </div>
  </div>

  <h2 class="text-2xl font-bold mt-10 mb-6 inline-flex items-center space-x-2">
    <span>Skills</span>
    <div class="h-1 w-16 bg-purple-600 rounded ml-2"></div>
  </h2>

  <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
    <span class="text-gray-700 dark:text-gray-300">Full-Stack Development</span>
    <span class="text-gray-700 dark:text-gray-300"
      >JavaScript, React, Node.js</span
    >
    <span class="text-gray-700 dark:text-gray-300">C#, Windows Forms</span>
    <span class="text-gray-700 dark:text-gray-300"
      >SQL, Database Management</span
    >
    <span class="text-gray-700 dark:text-gray-300"
      >API Development & Testing</span
    >
    <span class="text-gray-700 dark:text-gray-300">Linux, Networking</span>
    <span class="text-gray-700 dark:text-gray-300"
      >Technical Support & Incident Management</span
    >
    <span class="text-gray-700 dark:text-gray-300"
      >Monitoring & Troubleshooting</span
    >
    <span class="text-gray-700 dark:text-gray-300">Automation & Scripting</span>
  </div>
</section>
