---
import { getCollection } from "astro:content";
import BlogPost from "./BlogPost.astro";

const allPosts = await getCollection("blog");
---

<h2>Posts</h2>

<ul>
  {
    allPosts.map((post: any) => (
      <BlogPost url={`/posts/${post.id}/`} title={post.data.title} />
    ))
  }
</ul>
