---
import ButtonLink from "./ButtonLink.astro";

const { class: className } = Astro.props;
---

<div class="card">
  <h3 class="text-xl font-semibold mb-3">Let's Connect</h3>
  <p class="mb-4">
    If you're working on something interesting or have a project in mind, I'd
    love to hear about it!
  </p>
  <ButtonLink href="/contact">Get in Touch</ButtonLink>
</div>
